[submodule "lib/pico-sdk"]
	path = software/lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "lib/PicoDVI"]
	path = software/lib/PicoDVI
	url = https://github.com/Wren6991/PicoDVI.git
